{% extends "finance/layout.html" %}
{% load static %}
{% block title %}Convert{% endblock title %}
{% block script %}
<script src='{% static "finance/convert.js" %}'></script>
{% endblock %}

{% block body %}
<div id="conversion-container">
    <div class='currency-inputs'>
        <select id="first-currency" class="form-select">
            <option>Select currency</option>
        </select>
    
        <button class="btn btn-dark" id="change-currency">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5m14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5"/>
            </svg>
        </button>
        
        <select id="second-currency" class="form-select">
            <option>Select currency</option>
        </select>
    </div>

    <div class="card" id='answer-box'>
        <div class="card-body">
            <div class="currency-inputs" id='button-container'>
                <input type="number" id="currency-amount" placeholder="Amount" class="form-control">
                <button id="convert-balance" data-balance="{{user.balance}}" class="btn btn-dark">Your balance</button>
                <button id="done" class="btn btn-success">Convert</button>
            </div>
            <input type="number" class="form-control" id="disabledInput" placeholder="Converted amount" disabled="">
        </div>
    </div>
</div>
{% endblock body %}
